<?xml version="1.0"?>
<launch>
  <node ns="cora" pkg="usv_control" type="usv_control_diff_drive.py"
  name="usv_control_diff_drive" output="screen">
    <remap from="nav_odom" to="robot_localization/odometry/filtered"/>
    <remap from="left_thrust_cmd" to="thrusters/left_thrust_cmd"/>
    <remap from="right_thrust_cmd" to="thrusters/right_thrust_cmd"/>
    <remap from="vel_pid_debug" to="control/vel_pid_debug"/>
    <remap from="yaw_pid_debug" to="control/yaw_pid_debug"/>	
  </node>

</launch>
